/* Monokai theme */
.json-theme-monokai .json-key {
    color: #f92672;
    font-weight: bold;
}

.json-theme-monokai .json-string {
    color: #a6e22e;
}

.json-theme-monokai .json-number {
    color: #ae81ff;
}

.json-theme-monokai .json-boolean {
    color: #66d9ef;
    font-weight: bold;
}

.json-theme-monokai .json-null {
    color: #fd971f;
    font-weight: bold;
}

.json-theme-monokai .json-bracket {
    color: #f8f8f2;
}

.json-theme-monokai .json-comma {
    color: #f8f8f2;
}
